/*------------------------------------*\
    $MAIN
\*------------------------------------*/

html {
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family; //    overflow-y:scroll;
    //    overflow-x: hidden;
    min-height: 100%;
    font-family: 'Karla', sans-serif !important;
}

body {
    background-color: #000;
    margin-top: 100px;
}

section {
    background-color: #fff;
}

.back-arrow {
    // filter: invert(61%) sepia(57%) saturate(259%) hue-rotate(226deg) brightness(84%) contrast(82%);
}

.back-link,
.back-link:visted {
    text-decoration: none;
    color: #c39bff;
}

#about-me {
    padding-top: 40px;
    .back-button {
        font-size: 15px;
        display: block;
        margin-bottom: 21px;
        margin-left: 33px;
        margin-top: -18px;
        color: #c39bff;
        display: none;
    }
    .back-arrow {
        width: 35px;
        margin-left: -7px;
        display: inline-block;
        transform: rotate(180deg);
    }
    h3 {
        font-family: maple-web, sans-serif !important;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        border-top: 1px solid #000;
        margin: 0px 20px 0 0;
        padding-top: 22px;
        @media screen and (max-width: $desk-start) {
            margin: 17px 0 20px 0;
        }
    }
    .about-me-text {
        border-top: 1px solid #000;
        padding-top: 20px;
        margin-top: 38.4px;
        p {
            font-size: 16px;
        }
        img {
            margin: 30px 0 60px;
        }
        @media screen and (max-width: $desk-start) {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }
    }
}

#contact {
    padding: 40px 0 400px;
    @media screen and (max-width: $desk-start) {
        padding: 40px 0 40px;
    }
    .back-button {
        font-size: 15px;
        display: block;
        margin-bottom: 21px;
        margin-left: 33px;
        margin-top: -18px;
        color: #c39bff;
        display: none;
    }
    .back-arrow {
        width: 35px;
        margin-left: -7px;
        display: inline-block;
        transform: rotate(180deg);
    }
    h3 {
        font-family: maple-web, sans-serif !important;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        border-top: 1px solid #000;
        margin: 0px 20px 0 0;
        padding-top: 22px;
        @media screen and (max-width: $desk-start) {
            margin: 17px 0 20px 0;
        }
    }
    .contact-form-container {
        border-top: 1px solid #000;
        padding-top: 20px;
        margin: 38px 0;
        @media screen and (max-width: $desk-start) {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }
        h4 {
            margin-bottom: 40px;
            @media screen and (max-width: $desk-start) {
                margin-bottom: 30px;
            }
            font-family: 'Karla',
            sans-serif !important;
        }
    }
}

#portfolio-single-body {
    padding-top: 40px;
    .back-button {
        font-size: 15px;
        display: block;
        margin-bottom: 21px;
        margin-left: 33px;
        margin-top: -18px;
        color: #c39bff;
        display: none;
    }
    .back-arrow {
        width: 35px;
        margin-left: -7px;
        display: inline-block;
        transform: rotate(180deg);
    }
    h3 {
        font-family: maple-web, sans-serif !important;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        border-top: 1px solid #000;
        margin: 0px 20px 0 0;
        padding-top: 22px;
        @media screen and (max-width: $desk-start) {
            margin: 17px 0 20px 0;
        }
    }
    .portfolio-text {
        border-top: 1px solid #000;
        padding-top: 20px;
        margin-top: 21.3px;
        @media screen and (max-width: $desk-start) {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }
        .soundcloud-link {
            margin-top: 50px;
            @media screen and (max-width: $desk-start) {
                margin-bottom: 30px;
            }
        }
        p {
            font-size: 15px;
        }
        h4 {
            @media screen and (max-width: $desk-start) {
                font-size: 18px;
            }
        }
        img {
            margin: 30px 0 60px;
        }
    }
    .portfolio-category {
        ul {
            list-style-type: none;
            @media screen and (max-width: $desk-start) {
                display: none;
            }
            li {
                font-size: 15px;
                display: inline-block;
                margin-right: 20px;
            }
            
        }
    }
    .next-post-link {
        color: #c39bff;
        position: relative;
        &:after {
            background: url(../../assets/img/Arrowicon-P-08.svg) no-repeat bottom;
            content: "";
            width: 40px; // margin-left: 100px;
            background-size: 34px;
            position: absolute;
            height: 40px;
            bottom: 1%;
        }
    }

    .previous-post-link {
        color: #c39bff;
        position: relative;
        &:before {
            background: url(../../assets/img/ArrowIconLeft-18.svg) no-repeat bottom;
            content: "";
            width: 40px;
            background-size: 35px;
            position: absolute;
            height: 40px;
            bottom: 1%;
            margin-left: -40px;
        }
    }

}

#home-portfolio {
    .grid__item {
        padding: 20px 20px 0 20px;
        @media only screen and (max-width: $lap-start) {
            padding: 20px 20px 0 40px !important;
        }
        &:nth-child(3n) {
            // padding-right: 0;
            @media only screen and (max-width: $desk-start) {
                padding-right: 20px;
            }
            @media only screen and (max-width: $lap-start) {
                padding-right: 0px;
            }
        }
        &:nth-child(2n) {
            @media only screen and (max-width: $desk-start) {
                padding-right: 0;
            }
        }
        @media only screen and (max-width: $lap-start) {
            padding-right: 0px;
        }
    }
    padding-bottom: 20px;
    .home-portfolio-container {
        padding: 0 20px 0 40px;
        @media only screen and (max-width: $desk-start) {
            padding: 0 40px 0 40px;
        }
        @media only screen and (max-width: $lap-start) {
            padding: 0 20px;
        }
    }
}

.lightboxOverlay {
    position: fixed !important;
}

.lb-dataContainer {
    padding-bottom: 20px;
}

.lb-data .lb-close {
    position: absolute;
    display: inline-block !important;
    top: -35px;
    margin-left: 2%;
}